<footer class="footer">
  <img routerLink="/" src="../../assets/images/Logo-white.png" alt="NovaCinemaPress logo" class="footer--logo">

  <div class="spacer spacer-light"></div>

  <div class="social-container">
    <a href="https://www.facebook.com/novacinemapress" target="_blank" class="hero--social--link social"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/novacinemapress/" target="_blank" class="hero--social--link social"><i class="fa-brands fa-square-instagram"></i></a>
  </div>

  <div class="footer--menu">
    <a routerLink="/" class="footer--menu--link">Home</a>
    <a routerLink="contact" class="footer--menu--link">Contatti</a>
    <a routerLink="about" class="footer--menu--link">Su di noi</a>
    <a routerLink="clients" class="footer--menu--link">Clienti</a>
  </div>
        <p class="footer--text footer--copyright">
          Copyright © AB Media & NovaCinemaPress - {{ date.getFullYear() }}
        </p>
</footer>