<div class="client--container">
    <a href="http://www.fernandoalba.it" target="_blank" class="client--link">
        <div class="client--card card">
            <img src="../../assets/images/clients/alba.jpg" alt="" class="client--img">
            <p class="client--name">Fernando Alba</p>
            <p class="client--role">Produttore, cantautore</p>
        </div>
    </a>
    
    <a href="https://alessandro-bencini.com/it/" target="_blank" class="client--link">
        <div class="client--card card">
            <img src="../../assets/images/clients/bencini.jpg" alt="" class="client--img">
            <p class="client--name">Alessandro Bencini</p>
            <p class="client--role">Compositore, cantante</p>
        </div>
    </a>
</div>