<section class="about page">
    <h2 class="section-title about--title">Su di noi</h2>
 
    <p>
        Nasce una <strong>nuova realtà</strong> nel mondo della Comunicazione e <strong>dell’Ufficio Stampa</strong>, dedicata al settore cinematografico. La NovaCinemaPress è un’agenzia di promozione al servizio di autori, compositori di colonne sonore, attori, tecnici e management, legati al mondo del cinema.
    </p>

    <p>
        Sappiamo che intorno alla realizzazione di un film ruotano numerose figure professionali, alcune poco conosciute al grande pubblico. <strong>Oltre al regista e agli attori, estendiamo i nostri servizi ai compositori di colonne sonore, direttori della fotografia, editor, sceneggiatori e molto altro</strong>. Leggiamo i loro nomi nei titoli di testa e di coda, ma non conosciamo i loro ruoli ed i loro volti.
    </p>

    <p>
        L’Ufficio Stampa NovaCinemaPress <strong>accende i riflettori sul “dietro le quinte”</strong> ed illumina coloro che svolgono un lavoro importantissimo, ma che in pochi conoscono. Affianca la tradizionale comunicazione e promozione dei film, attirando l’attenzione non solo sull’opera, ma anche su chi ha partecipato alla sua realizzazione.
    </p>

    <p>
        L’attività di divulgazione di NovaCinema inizia ancora prima dell’uscita del film nelle sale e continua anche successivamente all’inserimento in tv e piattaforme streaming, <strong>curando tutte le fasi di comunicazione e promozione</strong>, offrendo ai propri clienti occasioni di <strong>incontro con il pubblico, con le tv nazionali e del settore, radio e giornali</strong>, individuando così i contesti ideali alla divulgazione dell’opera e alla promozione artistica. Un lavoro complesso che si sviluppa attraverso diverse strategie di marketing, un’adeguata conoscenza del settore ed una diretta rete di contatti, di <strong>opportunità mirate ad ottimizzare i costi ed il dispendio di energie</strong>. Lavorando per tempo ai comunicati stampa, organizzazione di interviste e conferenze, coordinamento di tutta l’attività logistica e gestionale dell’opera e degli artisti ad essa associati.
    </p>

    <p>
        La NovaCinemaPress è un’innovativa agenzia che <strong>mette in risalto i compositori e le loro colonne sonore, i registi e i loro film, gli attori e le opere a cui hanno partecipato e tutti quegli addetti ai lavori</strong> che molto spesso determinano il successo di un film, ma si trovano nel backstage delle produzioni e post-produzioni. NovaCinemaPress <strong>è un'agenzia giovane</strong>, composta da professionisti del settore con idee, competenze e la giusta energia <strong>per comunicare in maniera corretta lo straordinario mondo degli addetti ai lavori che vivono dentro ai film</strong>.
    </p>

 </section>
 