@use "../helpers/" as *;

html {
  height: 100%;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0;
  box-sizing: border-box;
  background-color: $background;
  min-height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f1f1f1;
}

p {
  color: $text-dark;
}

section {
  padding: 0;
  text-align: center;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 1em;

  & img {
    margin-bottom: 1em;
  }

  & p {
    padding-bottom: 1.5em;
  }

  &.page {
    padding: 1em;
  }
}

section.dark {
  background-color: $accent-darker;
  color: $text-light;
  padding-top: 1em;
  /* padding-bottom: 1.5em; */
  margin-top: 0;

  & h2 {
    color: $text-light;
    &::after {
      background-color: $text-light;
    }
  }
  & p {
    color: $text-light;
  }
}

.par {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

app-footer {
  margin-top: auto !important;
}

.spacer {
  background-color: $text-dark;
  height: 2px;
  border-radius: 1px;
  width: 80%;
  opacity: 0.5;
  margin: 3em auto 2em auto;

  &-light {
    background-color: $text-light;
    margin: 3em auto 1em auto;
  }
}

iframe {
  width: 100%;
  max-width: 660px;
  max-height: 25em;
  margin: 0 auto 2em auto;
  overflow: hidden;
  background: transparent;
  margin-bottom: 0;
}

@media screen and (min-width: 700px) {
  section {
    min-width: 100vw;

    &.page {
      max-width: 700px;
      min-width: unset;
    }
  }

  iframe {
    max-height: 40em;
    max-width: 800px;
    height: 28em;
  }
}

@media screen and (min-width: 1000px) {
  section {
    &.page {
      max-width: 900px;
    }
  }
}
