@use "../helpers/" as *;

.footer {
  background-color: $dark;
  padding: 1.5em 3em;

  & img {
    cursor: pointer;
    display: block;
    max-width: 10rem;
    margin: 0 auto;
  }

  &--text,
  &--menu--link {
    color: $text-light;
    text-decoration: none;
  }

  &--menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
    gap: 0.75em;

    &--link {
      text-transform: uppercase;
      font-size: 0.8em;
      font-weight: 500;

      &::after {
        content: "";
        display: block;
        height: 2px;
        width: 0%;
        margin: 0 auto;
        transition: all 100ms ease-in-out;
      }

      &:hover,
      &:focus {
        &::after {
          width: 50%;
          background-color: $accent;
        }
      }
    }
  }

  &--copyright {
    text-align: center;
    font-size: 0.8em;
  }
}
