@use "../helpers/" as *;

.btn {
  cursor: pointer;
  border: none;
  padding: 1em 2em;
  font-weight: 500;
  margin: 0 auto;
  margin-bottom: 3em;
  border-radius: 1em;
  width: fit-content;

  &:hover,
  &:focus {
    transition: 300ms;
  }
}

.btn-light {
  color: $text-dark;
  background-color: $text-light;
  &:hover,
  &:focus {
    color: $text-light;
    background-color: $accent;
  }
}

.btn-dark {
  color: $text-light;
  background-color: $text-dark;
  &:hover,
  &:focus {
    color: $text-light;
    background-color: $accent;
  }
}

@media screen and (min-width: 1000px) {
  .btn {
    font-size: 0.9rem;
  }
}
