@use "../helpers/" as *;

.hero {
  position: relative;
  top: 0;
  width: 100%;
  background-color: $dark;
  background-image: url(../../images/hero-img_blur.jpg);
  background-size: cover;
  min-height: 30em;
  text-align: center;

  &--text {
    padding-top: 3em;
    color: $text-light;
  }
  &--title {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 4.5em;
    margin-bottom: 0.25em;

    /* & img {
      margin: 0 auto;
    } */

    & :nth-child(1) {
      animation: 800ms ease-in-out fadeIn;
      max-width: 2em;
      margin-bottom: 0.2em;
    }
    & :nth-child(2) {
      animation: 1600ms ease-in-out fadeIn;
      max-width: 4em;
      margin-bottom: 0.2em;
    }
    & :nth-child(3) {
      animation: 2200ms ease-in-out slideIn;
      border-top: 4px white solid;
      text-align: right;
      width: 18rem;
      /* margin: 0 auto; */
      position: relative;
      & img {
        max-width: 2em;
      }
    }
  }

  & button {
    animation: 2600ms ease-in-out fadeIn;
    margin-bottom: 4em;
  }

  &--social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5em;
    background-color: $accent;
    padding: 0.5em 0.5em 0.25em 0.5em;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    width: 40%;
    margin: 0 auto;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    66% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slideIn {
    0% {
      margin-left: -10rem;
      opacity: 0;
    }
    66% {
      margin-left: -10rem;
      opacity: 0;
    }
    100% {
      margin-left: 0rem;
      opacity: 100%;
    }
  }
}

.home {
  width: 100vw;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;

  &--clients {
    & button {
      margin-top: 2.5em;
    }
  }
}

/* SCREEN SIZES */

@media screen and (min-width: 820px) {
  .hero {
    display: flex;
    &--text {
      max-width: 60%;
      margin: 0 auto;
      margin-left: 20%;
      padding-top: 4em;
      padding-bottom: 4em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      & button {
        margin: 0;
        margin-bottom: 4em;
      }
    }

    &--title {
      align-items: flex-start;
    }

    &--social {
      flex-direction: column;
      margin: auto 0;
      padding: 2em 1em;
      border-bottom-left-radius: 2rem;
      border-top-left-radius: 2rem;
      border-top-right-radius: 0;
      width: auto;
    }
  }
}

@media screen and (min-width: 1000px) {
  .hero {
    min-height: 35em;

    &--title {
      & :nth-child(1) {
        max-width: 3em;
      }
      & :nth-child(2) {
        max-width: 5em;
      }
      & :nth-child(3) {
        width: 22.5rem;
        & img {
          max-width: 3em;
        }
      }
    }

    &--text {
      & button {
        margin-bottom: 0;
      }
    }
  }
}
