<div class="hero">
    <div class="hero--text">
        <div class="hero--title">
            <img src="../../assets/images/Nova-white.png" alt="Nova">
            <img src="../../assets/images/Cinema.png" alt="Cinema">
            <div><img src="../../assets/images/press-white.png" alt="Press"></div>

        </div>
       
    </div>
    <button routerLink="contact" class="btn btn-light">Contattaci</button>
</div>

<div class="home">
    <section class="home--mission">
        <div class="par">
            <h2 class="par-title">Mission</h2>
                <p>L’Ufficio Stampa <strong>NovaCinemaPress accende i riflettori sul “dietro le quinte”</strong> ed illumina coloro che svolgono un lavoro importantissimo, ma che in pochi conoscono. Affianca la tradizionale comunicazione e promozione dei film, attirando l’attenzione non solo sull’opera, ma anche su chi ha partecipato alla sua realizzazione.</p>

                <button routerLink="about" class="btn btn-dark">Scopri di più</button>
        </div>
    </section>

    <section class="home--clients dark">
        <div class="par par--dark">
            <h2 class="par-title">Clienti</h2>
                <p>I nostri clienti sono <strong>sempre in primo piano</strong>, che siano in scena o dietro le quinte.</p>
            
                <app-client-grid></app-client-grid>
        </div>

        <button routerLink="clients" class="btn btn-light">Tutti i clienti</button>
    </section>

    <section class="home--contact">
        <div class="par">
            <h2 class="par-title">Contattaci</h2>
            <p>Clicca il pulsante qui sotto per scoprire come contattarci!</p>
            <button routerLink="contact" class="btn btn-dark">Contatti</button>

        </div>
    </section>
</div>
