/* Main colors */

$main: #e7dab3;
$background: #232323;
$dark: #232323;
$light: #e7e3ec;
$accent: #d32d7d;
$accent-dark: #44445d;
$accent-darker: #26263a;
$gradient: linear-gradient(80deg, #402616, #dbaf3e 60%);

/* Typography */
$text-dark: #333348;
$text-light: #ffffffe8;

/* Brands */
$appleMusic: #e7515f;
$facebook: #425894;
$imdb: #edc748;
$spotify: #65d46e;
$amazonMusic: #3d06f3;
$instagram: linear-gradient(45deg, #733da6, #e39736 60%);
$youtube: #ea3323;
